flake8==3.7.8
flake8-docstrings==1.5.0
pytest==7.1.2
python-dateutil==2.8.0
requests==2.32.4
jsonschema==4.25.1
aiohttp==3.13.4
azure-functions>=1.11.3b3
nox==2019.11.9
furl==2.1.0
pytest-asyncio==0.20.2
autopep8
types-python-dateutil
opentelemetry-api==1.32.1
opentelemetry-sdk==1.32.1
openai==1.98.0
openai-agents==0.2.4
eval_type_backport
