<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="Local Repo" value="C:/Projects/CSE/DurableFunctions/NuGetPackages" />
        <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
    </packageSources>

    <packageRestore>
        <add key="enabled" value="True" />
    </packageRestore>
</configuration>